<!DOCTYPE html>
<html ng-App="KRRclass" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Characters</title>
    <!-- Font -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="freelancer/css/styles.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="freelancer/css/heading.css">
    <link rel="stylesheet" href="freelancer/css/body.css">

    <!--        links for search dropdown-->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Hierarchy Select CSS -->
    <link rel="stylesheet" href="bootstrap/css/hierarchy-select.min.css">

    <!-- Hierarchy Select Js -->
    <script src="bootstrap/js/hierarchy-select.min.js"></script>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
	#extra {
	font-size: 22px;
	}
	</style>
</head>
<body ng-controller="MainCtrl" id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="index.html"><img alt="Brand" src="images/marvelLogo.svg" style="width:90px"></a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="movies.html">Movies</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="characters.html">Characters</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="actors.html">Actors</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div><img class="w-25 img-fluid rounded mx-auto d-block" src="images/Famous_Character_-_Add_On_1-14-512.webp" alt="Movies" style="padding-top: 100px"/></div>
    <h6 class="text-center">Characters</h6>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
</div>

    <div class="container ">
        <div class="form-group row">
           <h2>Character search</h2>
        </div>
        <form>
            <fieldset class="form-group">
                <div class="card card-body">
                    <div><h6> Search a character from the following options: </h6>
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Type</legend>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckbox1">
                                <input class="form-check-input " type="radio" id="inlineCheckbox1" name="type" value="both" ng-model="type"  checked="checked" checked>
                                Both</label>
                            </div>
                                <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckbox2">
                                <input class="form-check-input" type="radio" id="inlineCheckbox2" name="type" value="hero" ng-model="type" >
                                Hero</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckbox3">
                                <input class="form-check-input" type="radio" id="inlineCheckbox3" name="type" value="villain" ng-model="type"  class="form-control">
                                Villain</label>
                            </div>
                        </div>

                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckbox3">
                                <input class="form-check-input" type="radio" id="inlineCheckbox3" name="status" value="both" ng-model="status"  class="form-control" checked="checked">
                                Both</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckbox1">
                                <input class="form-check-input" type="radio" id="inlineCheckbox1" name="status" value="deceased" ng-model="status" class="form-control">
                                Deceased</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineCheckbox2">
                                <input class="form-check-input" type="radio" id="inlineCheckbox2" name="status" value="alive" ng-model="status"  class="form-control">
                                Alive</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div><h6> Species </h6>
                            <!--Make sure the form has the autocomplete function switched off:-->
                            <select required id="characters" ng-model="species" class="form-control">
                                <option value=""> All species</option>
                                <option value="marvel:Human">Human</option>
                                <option value="marvel:Flora_colossus">Flora Colossus</option>
                                <option value="marvel:Cyborg">Cyborg</option>
                                <option value="marvel:Asgardian">Asgardian</option>
                                <option value="marvel:Vanir">Vanir</option>
                                <option value="marvel:Frost_Giant">Frost Giant</option>
                                <option value="marvel:Halfworlder">Halfworlder</option>
                                <option value="marvel:Skrull">Skrull</option>
                                <option value="marvel:Celestial">Celestial</option>
                                <option value="marvel:Android">Android</option>
                            </select>
                        </div>
                        <br>
                        <div><h6> Citizenship </h6>
                            <!--Make sure the form has the autocomplete function switched off:-->
                            <select required id="characters" ng-model="citizenship" class="form-control">
                                <option value=""> All citizenships</option>
                                <option value="marvel:American">American</option>
                                <option value="marvel:Wakandan">Wakandan</option>
                                <option value="marvel:Russian">Russian</option>
                                <option value="marvel:Sokovian">Sokovian</option>
                                <option value="marvel:Asgardian">Asgardian</option>
                                <option value="marvel:British">British</option>
                                <option value="marvel:Chinese">Chinese</option>
                                <option value="marvel:French">French</option>
                            </select>
							<br>
                        </div>
                    </div>
                    <br>
                    <div class="text-center"><h2> OR </h2></div>

                    <div>
                        <div><h6> Search the characters based on their name</h6>
                        <!--Make sure the form has the autocomplete function switched off:-->
                            <select id="characters" ng-model="character" class="form-control">
                                <option value=""> All characters</option>
                                <option value="marvel:Agent_13">Agent 13</option>
                                <option value="marvel:Ant_Man">Ant-Man</option>
                                <option value="marvel:Baby_Groot">Baby Groot</option>
                                <option value="marvel:Black_Panther">Black Panther</option>
                                <option value="marvel:Black_Widow">Black Widow</option>
                                <option value="marvel:Captain_America">Captain America</option>
                                <option value="marvel:Captain_marvel">Captain marvel</option>
                                <option value="marvel:Doctor_Strange">Doctor Strange</option>
                                <option value="marvel:Falcon">Falcon</option>
                                <option value="marvel:Gatekeeper">GateKeeper</option>
                                <option value="marvel:Hawkeye">Hawkeye</option>
                                <option value="marvel:Iron_Man">Iron Man</option>
                                <option value="marvel:Loki">Loki</option>
                                <option value="marvel:Thor">Thor</option>
                                <option value="marvel:Nick_Fury">Nick Fury</option>
                                <option value="marvel:Peggy_Carter">Pepper Potts</option>
                                <option value="marvel:Quicksilver">Quicksilver</option>
                                <option value="marvel:Robin_Hood">Robin Hood</option>
                                <option value="marvel:Rocket">Rocket</option>
                                <option value="marvel:Scarlet_Witch">Scarlet Witch</option>
                                <option value="marvel:Soh-larr">Soh-lar</option>
                                <option value="marvel:Spider-Man">Spider-Man</option>
                                <option value="marvel:The_Incredible_Hulk">The Incredible Hulk</option>
                                <option value="marvel:Valkyrie">Valkyrie</option>
                                <option value="marvel:Vision">Vision</option>
                                <option value="marvel:Wasp">Wasp</option>
                                <option value="marvel:Winter_Soldier">Winter Soldier</option>
                            </select>
                        </div>
                    </div>
                    <div class="container mt-5 mb-5"> <!-- This part contains the button to send the requested query.  -->
                        <div>
                            <div class="col-8 ">
                                <button class="btn" type="button" ng-click="startMyAwesomeApp2()">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
		<br>

    </div>

    <div class="container">

        <h2><font color="black" id = "extra">{{myDisplayMessage}}</font></h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col"> Name Character </th>
                <th scope="col"> Real name Character </th>
				        <th scope="col"> Gender </th>
                <th scope="col"> Species </th>
                <th scope="col"> Citizenship </th>
                <th scope="col"> Status </th>
                <th scope="col"> Affiliations </th>
				        <th scope="col"> Movie(s) </th>
              </tr>
            </thead>
          <tr ng-repeat="x in FinalData2">
            <td>{{ x.name.value }} </td>
            <td>{{ x.realnames.value }}</td>
			      <td>{{ x.gender.value }}</td>
            <td>{{ x.specieslabel.value }}</td>
            <td>{{ x.citizenshiplabel.value }}</td>
            <td>{{ x.status.value }}</td>
            <td style="width: 70%"><pre style="font:inherit; white-space:pre-wrap; word-wrap:break-word">{{ x.affiliatons.value }}</pre></td>
            <td style="width: 70%"><pre>{{ x.movietitles.value }}</pre></td>
          </tr>
        </table>
    </div>











<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>

<!-- JavaScript libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/angular-chart.min.js"></script>


<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Core theme JS-->
<script src="script.js"></script>
</body>
</html>
